<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<div class="container text-center"><H4 class="alert alert-warning"> Hey! This is Mou</H4><br></br>
<h4 class="alert alert-danger">I am {{ age }} years old</h4>
<h4 class="alert alert-success">I love my life and you should love yourself too <3</h4>
<a href="{% url 'farhana' %}" class="btn btn-secondary"> FARHANA </a></div>